/* carrousel.css */
.carrousel{
  background-color: red;
}
.carousel-item{
  max-height: 650px; /*ajusta el alto del carrusel*/
    background-color: yellow;
}
.carousel-item img {
  width: 100%;
  object-fit: cover; 
  /* hace que la imagen se ajuste al tamaño del carrusel ; O 'contain' si no querés recorte */
}

.carousel {
  width: 100vw;
  margin: 0 auto;
  margin-left: calc(-50vw + 50%);
}